.form-field {
	margin-bottom: 1.5rem;
	width: 100%;
}

.label-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-input,
.select {
	composes: tokens from "../tokens.module.css";
	margin: 2px 0px;
	padding: 0.5rem;
	border-width: 3px;
	border-style: solid;
	border-color: var(--sk-input-border-color);
	border-radius: var(--sk-border-radius, 0.5rem);
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: 0.05rem;
	width: 100%;
	background-color: var(--sk-white, #ececec);

	&:focus-visible {
		border-width: 5px;
		outline: 2px solid transparent;
		margin: 0px;
	}

	&:focus {
		border-color: var(--sk-input-border-focus-color);
	}
}

.submit {
	composes: tokens from "../tokens.module.css";
	background-color: var(--sk-btn-primary-bg);
	color: var(--sk-btn-primary-color);

	&:hover {
		background-color: var(--sk-btn-primary-hover-bg);
	}

	&:disabled {
		background-color: var(--sk-btn-primary-disabled-bg);
	}
}

.secondary {
	composes: tokens from "../tokens.module.css";
	background-color: var(--sk-btn-secondary-bg);
	color: var(--sk-btn-secondary-color);

	&:hover {
		background-color: var(--sk-btn-secondary-hover-bg);
	}

	&:disabled {
		background-color: var(--sk-btn-secondary-disabled-bg);
	}
}
