.h1 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.h3 {
	font-size: 1.75rem;
	margin-bottom: 1.25rem;
}

.h4 {
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}

.h5 {
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
}

.h6 {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

.blockquote {
	margin-bottom: 2rem;
	border-left: 0.5rem solid var(--red-500);
	padding-left: 1rem;
	font-style: italic;
}

.p,
.a {
	margin-bottom: 1rem;
}

.a {
	text-underline-offset: 0.2rem;
	text-decoration: underline;
	text-decoration-thickness: 0.1rem;
	text-decoration-style: dashed;
	color: var(--link-color);
	text-decoration-color: var(--link-decoration-color);

	& > * {
		vertical-align: middle;
	}

	&:hover {
		color: var(--link-hover-color);
		text-decoration-color: var(--link-hover-decoration-color);
	}

	&:focus-visible {
		outline: 2px solid var(--blue-400);
		outline-offset: 2px;
		border-radius: 2px;
	}
}

.pre {
	border-radius: var(--border-radius, 0.5rem);
	font-size: 0.9rem;
	padding: 1rem;
}

.ol,
.ul {
	margin-left: 20px;
	padding-left: 20px;
}

.code {
	margin-bottom: 2rem;
	font-size: 0.9rem;
}
